<div class="container text-center">
  <h4><%= @post.content %>
  <h6><%= @post.created_at %></h6>
  <%= link_to "Edit","/posts/#{@post.id}/edit",{class:"btn btn-outline-success"} %>
  <%= link_to "Delete","/posts/#{@post.id}/destroy",{method:"post ",class:"btn btn-outline-danger"} %>
</div>
